@charset "UTF-8";
* {
  padding: 0; }

/* NAV PARA TODAS LAS PAGINAS */
.header-page {
  height: 560px;
  width: 100%;
  background: #3a6186;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(136, 37, 62, 0.5), rgba(58, 98, 136, 0.5)), url("../images/fondo-nav.jpg");
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(136, 37, 62, 0.5), rgba(58, 98, 136, 0.5)), url("../images/fondo-nav.jpg");
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed; }

.logotipo:hover {
  border-radius: 2px;
  transform: scale(3.7);
  margin-left: 30px;
  margin-top: 30px;
  transition: all 600ms ease; }

.wave {
  display: flex;
  justify-content: end;
  position: absolute;
  bottom: 0%;
  width: 100%; }

.titulo-nav {
  text-align: center;
  margin-top: 15%;
  font-family: 'Raleway', sans-serif;
  font-size: 45px; }

.menu-index {
  display: flex;
  font-size: 1.1rem;
  background-color: rgba(255, 255, 255, 0.185); }

.conteiner-index a {
  color: black; }

.nav-a {
  margin-left: 17.5px;
  margin-right: 17.5px; }

.dropdown-nav {
  background: none;
  background-color: rgba(255, 255, 255, 0.185);
  width: 25px;
  margin-right: 15px; }

#nav-inicio {
  font-size: 1.4rem; }

/* MENU DROPDOWN INDEX */
.conteiner-index #index-dropdown {
  color: black; }

.conteiner-index #index-dropdown:hover {
  color: #ffffff;
  background-color: #470D21; }

.conteiner-index a:hover {
  display: flexbox;
  justify-content: space-between;
  color: #9C0F48; }

/* BUTTONS SEARCH INDEX */
.buton-search {
  color: #F9E4D4;
  border: 2px solid #F9E4D4; }

.buton-search:hover {
  background-color: #9C0F48;
  border: 2px solid #F9E4D4; }

/* button colapse */
#navicon {
  height: 2.5rem; }

/*NAV NOSOTROS*/
.header-page1 {
  height: 560px;
  width: 100%;
  background: #3a6186;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(226, 223, 223, 0.5), rgba(199, 92, 92, 0.5)), url("../images/fondo-cards.jpg");
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(226, 223, 223, 0.5), rgba(199, 92, 92, 0.5)), url("../images/fondo-cards.jpg");
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed; }
  .header-page1 .logotipo:hover {
    border-radius: 2px;
    transform: scale(3.7);
    margin-left: 30px;
    margin-top: 30px;
    transition: all 600ms ease; }

.wave {
  position: absolute;
  bottom: 0;
  width: 100%; }

.titulo-nav1 {
  text-align: center;
  margin-top: 10%;
  font-family: 'Raleway', sans-serif;
  font-size: 45px; }

/*NAV BODEGA*/
.header-page2 {
  height: 560px;
  width: 100%;
  background: #3a6186;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(226, 223, 223, 0.5), rgba(199, 92, 92, 0.5)), url("../images/fondo-bod.jpg");
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(226, 223, 223, 0.5), rgba(199, 92, 92, 0.5)), url("../images/fondo-bod.jpg");
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed; }
  .header-page2 .logotipo:hover {
    border-radius: 2px;
    transform: scale(3.7);
    margin-left: 30px;
    margin-top: 30px;
    transition: all 600ms ease; }

.wave {
  position: absolute;
  bottom: 0;
  width: 100%; }

.titulo-nav2 {
  text-align: center;
  margin-top: 10%;
  font-family: 'Raleway', sans-serif;
  font-size: 45px; }

/*Nav tienda*/
.header-page3 {
  height: 560px;
  width: 100%;
  background: #3a6186;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(226, 223, 223, 0.5), rgba(199, 92, 92, 0.5)), url("../images/fondo-vinos.webp");
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(226, 223, 223, 0.5), rgba(199, 92, 92, 0.5)), url("../images/fondo-vinos.webp");
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed; }
  .header-page3 .logotipo:hover {
    border-radius: 2px;
    transform: scale(3.7);
    margin-left: 30px;
    margin-top: 30px;
    transition: all 600ms ease; }

.wave {
  position: absolute;
  bottom: 0;
  width: 100%; }

.titulo-nav3 {
  text-align: center;
  margin-top: 10%;
  font-family: 'Raleway', sans-serif;
  font-size: 45px; }

/*NAV RESTO*/
.header-page4 {
  height: 560px;
  width: 100%;
  background: #3a6186;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(226, 223, 223, 0.5), rgba(199, 92, 92, 0.5)), url("../images/fondo-vinos.webp");
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(226, 223, 223, 0.5), rgba(199, 92, 92, 0.5)), url("../images/fondo-resto.webp");
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed; }
  .header-page4 .logotipo:hover {
    border-radius: 2px;
    transform: scale(3.7);
    margin-left: 30px;
    margin-top: 30px;
    transition: all 600ms ease; }

.wave {
  position: absolute;
  bottom: 0;
  width: 100%; }

.texto-header4 .titulo-nav4 {
  text-align: center;
  margin-top: 2%;
  font-family: 'Raleway', sans-serif;
  font-size: 45px; }

.texto-header4 p {
  width: 90%;
  text-align: justify;
  margin: auto;
  margin-top: 2%; }

.texto-header4 .p-restoult {
  margin-top: 1%; }

/*NAV CONTACTO*/
.header-page5 {
  width: 100%; }
  .header-page5 .logotipo:hover {
    border-radius: 2px;
    transform: scale(3.7);
    margin-left: 30px;
    margin-top: 30px;
    transition: all 600ms ease; }

/*footer para todas las paginas*/
.footer-down {
  background-color: #470D21;
  color: aliceblue;
  margin-top: 5%; }

.footer-down a {
  background-color: #470D21;
  color: #9C0F48; }

.red-social a {
  color: aliceblue;
  width: 2rem; }

.red-social a:hover {
  color: #470D21;
  width: 2rem; }

/*index*/
.ilustracion-index {
  margin-top: 120px;
  width: 100%; }
  .ilustracion-index .h2-index {
    color: #470D21;
    font-family: 'raleway', sans-serif;
    font-size: 40px;
    text-align: center; }

.figure {
  display: flex;
  justify-content: space-evenly; }
  .figure img {
    height: 500px; }

.contenido-texto {
  margin-top: 40px; }
  .contenido-texto p {
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .contenido-texto h3 {
    font-family: 'raleway'; }
    .contenido-texto h3 span {
      background-color: #470D21;
      color: white;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      width: 30px;
      height: 30px;
      margin-bottom: 5px;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.8);
      overflow-y: hidden; }

/* CARDS INDEX */
.cards-index {
  background: -webkit-linear-gradient(to right, rgba(136, 37, 62, 0.3), rgba(58, 98, 136, 0.3)), url("../images/fondo-cards-index.webp");
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(136, 37, 62, 0.3), rgba(58, 98, 136, 0.3)), url("../images/fondo-cards-index.webp");
  padding: 1%;
  margin: 0.5%;
  margin-top: 3%;
  border: 0, 2px solid #470D21;
  box-shadow: 0px 1px 10px black; }
  .cards-index:hover {
    cursor: pointer;
    box-shadow: 5px 5px 20px black;
    transform: translateY(-1%);
    transition: all 700ms ease; }
  .cards-index button {
    display: flex;
    align-self: center; }
  .cards-index h5 {
    color: #470D21;
    overflow-y: hidden; }

.butoncard-search {
  width: 50%;
  justify-content: center;
  color: #F9E4D4;
  border: 2px solid #470D21;
  background-color: #470D21; }
  .butoncard-search:hover {
    background-color: #9C0F48;
    border: 2px solid #F9E4D4; }

/*HAGO PAGINA NOSOTROS*/
.section-nuestrahistoria {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "h2-historia h2-historia h2-historia" "h2-primerospasos h2-primerospasos h2-primerospasos" "primerospasos primerospasos primerospasos" "h2-nuestragente h2-nuestragente h2-nuestragente" "nuestragente nuestragente nuestragente" "h2-produccion h2-produccion h2-produccion" "produccion produccion produccion " "galery row galery1" "h2-linea h2-linea h2-linea" "carouselaños carouselaños carouselaños";
  gap: 20px;
  justify-items: center;
  align-items: center; }

.h2-historia {
  background-image: url("../images/fondo-cards1.jpg");
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 400px;
  margin-bottom: 40px;
  grid-area: h2-historia;
  color: #9C0F48;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px; }

.h2-primerospasos, .h2-nuestragente, .h2-produccion {
  color: #470D21;
  padding: 1%;
  font-family: 'raleway';
  font-size: 30px;
  justify-content: center; }

/* ARREGLO GRID AREA */
.h2-linea {
  grid-area: h2-linea; }

.primerospasos {
  grid-area: primerospasos; }

.carouselaños {
  grid-area: carouselaños; }

.h2-produccion {
  grid-area: h2-produccion; }

.h2-nuestragente {
  grid-area: h2-nuestragente; }

.nuestragente {
  grid-area: nuestragente; }

.produccion {
  grid-area: produccion; }

.row {
  grid-area: row; }

.galery {
  grid-area: galery; }

.galery1 {
  grid-area: galery1; }

.conteiner-h2-historia {
  grid-area: conteiner-h2-historia; }

.h2-primerospasos {
  grid-area: h2-primerospasos;
  margin-top: 5%; }

/* IMAGENES INTRO NOSOTROS */
.img-gente {
  width: 300px;
  height: 250px; }

.img-pasos {
  width: 300px;
  height: 250px; }

.img-produccion {
  width: 300px;
  height: 250px; }

/* DIVS CARDS INTRO */
.primerospasos {
  background-image: url("../images/fondo-cards1.jpg");
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #d67d3e2b;
  width: 100%;
  padding: 10px;
  font-family: Verdana; }
  .primerospasos p {
    font-family: verdana;
    text-align: justify;
    font-size: 1rem;
    padding: 15px;
    width: 80%; }

.nuestragente {
  background-image: url("../images/fondo-cards1.jpg");
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #d67d3e2b;
  width: 100%;
  padding: 10px;
  font-family: Verdana; }
  .nuestragente p {
    font-family: verdana;
    text-align: justify;
    font-size: 1rem;
    padding: 15px;
    width: 80%; }

.produccion {
  background-image: url("../images/fondo-cards1.jpg");
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #d67d3e2b;
  width: 100%;
  padding: 10px;
  font-family: Verdana; }
  .produccion p {
    font-family: verdana;
    text-align: justify;
    font-size: 1rem;
    padding: 15px;
    width: 80%; }

#imgbod {
  width: 100%; }

#imgbod:hover {
  filter: grayscale(80%);
  transform: scale(1.2);
  transition: all 400ms ease;
  cursor: pointer; }

.row {
  display: flex;
  padding: 5px;
  margin-top: 10%; }
  .row .column {
    align-items: center;
    flex: 25%;
    padding: 5px; }

.galery {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: justify; }
  .galery .h2-row {
    text-align: center;
    font-family: 'raleway'; }
  .galery .p-row {
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify; }

.galery1 {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-right: 5%;
  text-align: justify; }
  .galery1 .h2-row {
    font-family: 'raleway'; }
  .galery1 .p-row1 {
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify; }

#p-row1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify; }

/* carousel timeline */
.h2-linea {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #470D21;
  text-align: center; }

#carouseltime {
  height: 500px;
  width: 500px; }

.h4-carousel {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: #470D21;
  background-color: #f9e4d448; }

#titulo-h5 {
  font-size: 2rem;
  color: #470D21;
  background-color: #f9e4d448; }

#p-carousel {
  background-color: #f9e4d448;
  color: #470D21; }

#prev, #next {
  background-color: #9C0F48;
  position: absolute; }

/*TIENDA*/
/* TIENDA */
#premio {
  display: flex;
  margin: 0 auto;
  width: 160px;
  height: 160px; }

#cert {
  font-size: 50px;
  font-family: 'raleway';
  color: #470D21;
  text-align: center; }

.cepa {
  display: flex;
  flex-direction: column; }

.texto-header3 p {
  width: 50%;
  text-align: justify;
  margin: auto; }

.vinos-certificacion {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px; }
  .vinos-certificacion img {
    height: 100%;
    width: 100%; }

.conteiner-cajas {
  display: flex;
  flex-direction: row; }

.caja {
  padding: 10px;
  width: 100%;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 1px 10px black;
  cursor: default;
  transition: all 400ms ease; }
  .caja .contenido {
    text-align: center;
    padding: 10px;
    color: black; }
  .caja ul {
    text-align: left;
    list-style: decimal;
    color: black; }
  .caja figure {
    width: 200px;
    width: 200px;
    margin: auto; }
  .caja:hover {
    box-shadow: 5px 5px 20px black;
    transform: translateY(-2%); }

/*categoria de vinos*/
.conteiner-boxes {
  margin-top: 1px;
  padding: 40px; }
  .conteiner-boxes h1 {
    font-family: 'raleway';
    text-align: center;
    margin-top: 120px;
    font-size: 30px;
    background-color: rgba(94, 7, 112, 0.204); }

.cepa {
  display: flex;
  flex-direction: row;
  border: 2px solid rgba(94, 7, 112, 0.204); }

.boxes {
  padding: 10px;
  width: 100%;
  margin: 10px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #470D21;
  box-shadow: 0px 1px 10px black;
  transition: all 400ms ease;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .boxes img {
    width: 100%; }
  .boxes:hover {
    box-shadow: 5px 5px 20px black;
    transform: translateY(-2%); }
  .boxes i {
    float: right;
    cursor: pointer;
    color: white; }
  .boxes i:hover {
    transition: all 300ms ease;
    cursor: pointer;
    color: #9C0F48; }
  .boxes h2 {
    color: antiquewhite;
    background-color: rgba(10, 8, 3, 0.534);
    font-family: "raleway";
    text-align: center;
    font-size: 20px; }
  .boxes p {
    color: white;
    text-align: center;
    font-family: 'raleway'; }
  .boxes strong {
    color: white;
    font-family: 'raleway';
    font-size: 20px; }
  .boxes h5 {
    color: black;
    font-size: 15px;
    text-align: right; }
  .boxes #img-cepa {
    height: 400px; }

.btn-flotante {
  border-radius: 5px;
  background-color: #470D21;
  padding: 5px 9px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99; }
  .btn-flotante img {
    height: 30px; }

.btn-flotante:hover {
  background-color: #9C0F48;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px); }

@media only screen and (max-width: 600px) {
  .btn-flotante {
    font-size: 14px;
    padding: 12px 20px;
    bottom: 20px;
    right: 20px; } }

/*BODEGA*/
.conteiner-bodega {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  background-image: linear-gradient(to bottom, white 10%, rgba(128, 25, 25, 0.849) 95%); }
  .conteiner-bodega .elemento-divider {
    display: flex;
    background-color: black;
    width: 100%; }
    .conteiner-bodega .elemento-divider span {
      width: 50%;
      background-color: #470D21;
      display: flex;
      justify-content: center; }
  .conteiner-bodega .elemento-divider1 {
    display: flex;
    background-color: #470D21;
    width: 100%; }
    .conteiner-bodega .elemento-divider1 span {
      width: 50%;
      background-color: black;
      display: flex;
      justify-content: center; }

#bod-text {
  text-align: center;
  width: 100%;
  padding: 25px; }

.video-bodega {
  display: flex;
  flex-direction: row;
  background-color: #F9E4D4; }
  .video-bodega #video-bod {
    display: flex;
    justify-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 60%; }

.carousel-h2 {
  text-align: center;
  margin-top: 5%;
  font-size: 25px; }
  .carousel-h2 #carousel-img {
    margin: auto;
    width: 50%;
    height: 500px; }

#carousel-img {
  margin: auto;
  width: 50%;
  height: 500px; }

/*Pagina restaurante*/
/*ARMO INTRO Y IFRAME COMERCIAL*/
.video-restaurante {
  background-image: linear-gradient(to bottom, white 10%, #470D21 90%);
  margin-top: 60px;
  display: flex;
  justify-content: center; }

.parent {
  text-align: center; }
  .parent h1 {
    color: #470D21;
    margin-top: 4%;
    margin-bottom: 4%;
    font-family: 'raleway'; }
  .parent .zoom {
    border: 2px solid black;
    margin-top: 12%;
    width: 4rem;
    height: 4rem;
    transition: all 2s ease; }
    .parent .zoom:hover {
      transform: scale(7.5); }

/*FORMULARIO DE RESERVA*/
.formulario-reserva-fieldset {
  margin: auto;
  border: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "label-nombreresto label-nombreresto" "nombreresto nombreresto" "label-emailresto label-emailresto" "emailresto emailresto" "label-telefonoresto label-telefonoresto" "telefonoresto telefonoresto" "label-personasresto label-personasresto" "personasresto personasresto" "label-fecharesto label-fecharesto" "fecharesto fecharesto" "enviar none";
  gap: 10px; }

#nombreresto, #emailresto, #telefonoresto, #personasresto, #fecharesto {
  color: white;
  background-color: #470D21;
  border-radius: 5px;
  border: none;
  height: 40px;
  padding: 5px;
  width: 600px; }

conteiner-reservaresto {
  display: flex;
  width: 100%;
  margin-left: 100px; }

.titulo-reserva {
  display: flex;
  color: #2c1901;
  justify-content: center;
  margin-top: 250px;
  font-family: 'raleway'; }

#enviar1 {
  color: white;
  margin-top: 3%;
  grid-area: enviar;
  background-color: #470D21;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 5px; }

.formulario-reserva {
  display: flex;
  flex-direction: column;
  width: 100%; }

/* grid area */
.label-nombreresto {
  grid-area: label-nombreresto;
  color: #2c1901; }

#nombreresto {
  grid-area: nombreresto; }

.label-emailresto {
  grid-area: label-emailresto;
  color: #2c1901; }

#emailresto {
  grid-area: emailresto;
  color: #2c1901; }

.label-telefonoresto {
  grid-area: label-telefonoresto;
  color: #2c1901; }

#telefonoresto {
  grid-area: telefonoresto; }

.label-personasresto {
  grid-area: label-personasresto;
  color: #2c1901; }

#personas {
  grid-area: personasresto; }

.label-fecharesto {
  grid-area: label-fecharesto;
  color: #2c1901; }

#fecharesto {
  grid-area: fecharesto; }

/*ACORDEON*/
/*Acordeon*/
.button-acordeon {
  background-color: #470D21;
  color: white; }

.div-acordeonbody {
  background-color: beige; }

.redes-sociales, .facebook, .twitter, .instagram, .youtube {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

/*Contacto y ubicación*/
.bodycontacto {
  background-image: url("../images/fondo-contacto.jpg");
  background-size: cover; }

.titulo-contacto {
  text-align: center;
  margin-top: 5%;
  color: #470D21;
  font-family: 'raleway';
  font-size: 40px; }

.formulario-contacto-fieldset {
  width: 50%;
  margin: 30px auto;
  border: none;
  display: grid;
  grid-template-columns: 1fr 80px;
  grid-template-areas: "label-nombre label-nombre" "nombre nombre" "label-email label-email" "email email" "label-telefono label-telefono" "telefono telefono" "label-mensaje label-mensaje" "mensaje mensaje" "none enviar";
  gap: 10px; }

#nombre, #email, #telefono, #mensaje {
  background-color: white;
  border-radius: 10px;
  border: none;
  height: 40px; }

.formulario-contacto {
  margin-top: 0px;
  background-color: rgba(184, 135, 11, 0); }

#mensaje {
  grid-area: mensaje;
  height: 150px; }

label {
  color: #470D21;
  text-align: left;
  padding-left: 10px; }

#enviar {
  color: azure;
  grid-area: enviar;
  background-color: #470D21;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 20px; }

.label-nombre {
  grid-area: label-nombre; }

#nombre {
  grid-area: nombre; }

.label-email {
  grid-area: label-email; }

#email {
  grid-area: email; }

.label-telefono {
  grid-area: label-telefono; }

#telefono {
  grid-area: telefono; }

.label-mensaje {
  grid-area: label-mensaje; }

.nuestras-redes {
  display: flex;
  flex-direction: column; }
  .nuestras-redes h1 {
    text-align: center;
    font-family: 'raleway';
    color: #470D21;
    font-size: 40px; }
  .nuestras-redes .box-redes {
    display: flex;
    flex-direction: column;
    align-items: center; }

.facebook a, .twitter a, .instagram a, .youtube a {
  color: #470D21;
  width: 30px; }
  .facebook a:hover, .twitter a:hover, .instagram a:hover, .youtube a:hover {
    color: #F9E4D4; }

.facebook h5, .twitter h5, .instagram h5, .youtube h5 {
  color: #F9E4D4; }

/* MEDIA QUERIS */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    padding: 6px; } }

@media screen and (max-width: 768px) {
  #navicon {
    height: 2rem;
    border: none; }
  /* acomodo sección nostros */
  #carouseltime {
    height: 300px;
    width: 100%; }
  #imgbod:hover {
    transform: scale(1);
    transition: all 400ms ease;
    cursor: pointer; }
  .vinos-certificacion {
    display: flex;
    flex-direction: column; }
    .vinos-certificacion .conteiner-cajas {
      display: flex;
      flex-direction: column; }
  .section-nuestrahistoria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "h2-historia h2-historia h2-historia" "h2-primerospasos h2-primerospasos h2-primerospasos" "primerospasos primerospasos primerospasos" "h2-nuestragente h2-nuestragente h2-nuestragente" "nuestragente nuestragente nuestragente" "h2-produccion h2-produccion h2-produccion" "produccion produccion produccion " "galery galery galery" "galery1 galery1 galery1" "row row row" "h2-linea h2-linea h2-linea" "carouselaños carouselaños carouselaños";
    gap: 20px;
    justify-items: center;
    align-items: center; }
  .galery {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .galery1 {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    width: 100%; }
    .galery1 .h2-row {
      text-align: center; }
  .row {
    display: flex;
    flex-direction: column; }
  .cepa {
    flex-direction: column;
    align-items: center; }
  .header-page {
    height: 500px;
    width: 100%;
    background: #3a6186;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(136, 37, 62, 0.5), rgba(58, 98, 136, 0.5)), url("../images/fondo-nav.jpg");
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(136, 37, 62, 0.5), rgba(58, 98, 136, 0.5)), url("../images/fondo-nav.jpg");
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed; }
    .header-page .wave {
      display: none; }
  .ilustracion-index {
    display: flex;
    flex-direction: column; }
  .figure {
    display: flex;
    flex-direction: column; }
  .header-page1 {
    height: 500px;
    width: 100%;
    background: #3a6186;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(226, 223, 223, 0.5), rgba(199, 92, 92, 0.5)), url("../images/fondo-cards.jpg");
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(226, 223, 223, 0.5), rgba(199, 92, 92, 0.5)), url("../images/fondo-cards.jpg");
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed; }
    .header-page1 .wave {
      display: none; }
  .header-page2 {
    height: 500px;
    width: 100%;
    background: #3a6186;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(226, 223, 223, 0.5), rgba(199, 92, 92, 0.5)), url("../images/fondo-bod.jpg");
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(226, 223, 223, 0.5), rgba(199, 92, 92, 0.5)), url("../images/fondo-bod.jpg");
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed; }
    .header-page2 .wave {
      display: none; }
  #carousel-img {
    height: 10%; }
  .header-page4 {
    height: 650px;
    width: 100%;
    background: #3a6186;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(226, 223, 223, 0.5), rgba(199, 92, 92, 0.5)), url("../images/fondo-vinos.webp");
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(226, 223, 223, 0.5), rgba(199, 92, 92, 0.5)), url("../images/fondo-resto.webp");
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed; }
    .header-page4 .wave {
      display: none; }
  .header-page3 {
    height: 500px;
    width: 100%;
    background: #3a6186;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(226, 223, 223, 0.5), rgba(199, 92, 92, 0.5)), url("../images/fondo-vinos.webp");
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(226, 223, 223, 0.5), rgba(199, 92, 92, 0.5)), url("../images/fondo-vinos.webp");
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed; }
    .header-page3 .wave {
      display: none; }
  .video-restaurante {
    width: 100%;
    margin-top: 0px; }
  .section-nuestrahistoria {
    margin-top: 10%; }
  .primerospasos, .nuestragente, .produccion {
    display: flex;
    flex-direction: column;
    background-image: none;
    background-color: #F9E4D4; }
    .primerospasos p, .nuestragente p, .produccion p {
      width: 100%; }
    .primerospasos .img-cardsintro, .nuestragente .img-cardsintro, .produccion .img-cardsintro {
      margin: auto; }
  .conteiner-bodega {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    background-image: linear-gradient(to bottom, white 10%, rgba(128, 25, 25, 0.849) 95%); }
    .conteiner-bodega .elemento-divider {
      display: flex;
      background-color: black;
      width: 100%; }
      .conteiner-bodega .elemento-divider span {
        width: 50%;
        background-color: #470D21;
        display: flex;
        justify-content: center; }
    .conteiner-bodega .elemento-divider1 {
      display: flex;
      background-color: #470D21;
      width: 100%; }
      .conteiner-bodega .elemento-divider1 span {
        width: 50%;
        background-color: black;
        display: flex;
        justify-content: center; }
  .video-bodega {
    display: flex;
    flex-direction: row;
    background-color: #F9E4D4; }
    .video-bodega #video-bod {
      display: flex;
      justify-items: center;
      margin-top: 0;
      margin-bottom: 5%;
      margin-left: auto;
      margin-right: auto;
      width: 100%; } }

@media only screen and (max-width: 600px) {
  .btn-flotante {
    font-size: 14px;
    padding: 12px 20px;
    bottom: 20px;
    right: 20px; } }

.redes-sociales, .facebook, .twitter, .instagram, .youtube {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
