@import "../scss/partials/nav";
@import "../scss/partials/footer";
@import "../scss/partials/index";
@import "../scss/partials/variables";
@import "../scss/partials/nosotros";
@import "../scss/partials/tienda";


@import "../scss/partials/mixins";




/* MEDIA QUERIS */
@media (max-width: 600px) {
    .column{
        flex: 100%;
        padding: 5px;
    }
}

@media screen and (max-width: 768px){
    /* acomodo sección nostros */
    .section-nuestrahistoria{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #carouseltime{
        height: 300px;
        width: 100%;
    }

    .section-nuestrahistoria h2{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .bodynosotros{
        width: 100%;
    }
    #imgbod:hover{
        transform: scale(1);
        transition: all 400ms ease;
        cursor: pointer;
    }
    .vinos-certificacion{
        display: flex;
        flex-direction: column;
    }
    .galery{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .galery1{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .cepa{
        flex-direction: column;
        align-items: center;
    }
}









/*BODEGA*/

.conteiner-bodega{
    display: flex;
    flex-direction: column;
}

#bod{
    text-align: center;
    width: 100%;
}


#bod-text{
    text-align: center;
    width: 100%;
    padding: 25px;
}

#video-bodega{
    width: 60%;
    margin: auto;
}


.carousel-h2{
    text-align: center;
    margin-top: 5%;
    font-size: 25px;
}
#carousel-img{
    margin: auto;
    width: 50%;
    height: 500px;
}


















/*Pagina restaurante*/

/*ARMO INTRO Y IFRAME COMERCIAL*/

.body4{
    background-image: none;
    background-color: #F9E4D4;
}

.conteiner-resto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.conteiner-resto div{
    background-color: #F9E4D4;
    text-align:justify;
    padding: 5%;
}
.resto video{
    display: flex;
    margin: auto;
    width: 50%;
}

.resto h1{
    text-align: center;
    margin-bottom: 5%;
}

.parent{
    text-align: center;
}
.parent h1{
    color: #470D21;
    margin-top: 4%;
    margin-bottom: 4%;
}

.parent .zoom{
    border:  2px solid black;
    margin-top: 12%;
    width: 4rem;
    height: 4rem;
    transition: all 2s ease;
}
.parent .zoom:hover{
    transform: scale(7.5);
}

/*FORMULARIO DE RESERVA*/

.formulario-reserva-fieldset{
    margin:auto;
    border: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "label-nombreresto label-nombreresto"
    "nombreresto nombreresto"
    "label-emailresto label-emailresto"
    "emailresto emailresto"
    "label-telefonoresto label-telefonoresto"
    "telefonoresto telefonoresto"
    "label-personasresto label-personasresto"
    "personasresto personasresto"
    "label-fecharesto label-fecharesto"
    "fecharesto fecharesto"
    "enviar none";
    gap: 10px;
}



#nombreresto, #emailresto, #telefonoresto, #personasresto, #fecharesto{
    background-color: #470D21;
    border-radius: 5px;
    border: none;
    height: 40px;
    padding: 5px;
    width: 600px;
}

conteiner-reservaresto{
    display: flex;
    width: 100%;
    margin-left: 100px;
}


.titulo-reserva{
    display: flex;
    color:rgb(44, 25, 1);
    justify-content: center;
    margin-top: 250px;
}


#enviar1{
    color: rgb(0, 0, 0);
    margin-top: 3%;
    grid-area: enviar;
    background-color: #9C0F48;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

/* grid area */
.label-nombreresto{
    grid-area: label-nombreresto;
    color: rgb(44, 25, 1);}
#nombreresto{grid-area: nombreresto;}
.label-emailresto{
    grid-area: label-emailresto;
    color:rgb(44, 25, 1);}
#emailresto{grid-area: emailresto;
    color: rgb(44, 25, 1);}
.label-telefonoresto{
    grid-area: label-telefonoresto;
    color: rgb(44, 25, 1);}
#telefonoresto{grid-area: telefonoresto;}
.label-personasresto{ 
    grid-area: label-personasresto;
    color:rgb(44, 25, 1);
}
#personas{
    grid-area: personasresto;
}
.label-fecharesto{
    grid-area: label-fecharesto;
    color:rgb(44, 25, 1);
}
#fecharesto{
    grid-area: fecharesto;
}

/*ACORDEON*/

/*Acordeon*/
.button-acordeon{
    background-color:#470D21;
    color: white;
}
.div-acordeonbody{
    background-color: beige;
}



#acordeon{
    margin-top: 5%;
}



/*Contacto y ubicación*/

.body6{
    background-image: none;
    background-color: #F9E4D4;
}

.titulo-contacto{
    text-align: center;
    margin-top: 5%;
    color: #470D21;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.formulario-contacto-fieldset{
    width: 50%;
    margin: 30px auto;
    border: none;
    display: grid;
    grid-template-columns: 1fr 80px;
    grid-template-areas: 
    "label-nombre label-nombre"
    "nombre nombre"
    "label-email label-email"
    "email email"
    "label-telefono label-telefono"
    "telefono telefono"
    "label-mensaje label-mensaje"
    "mensaje mensaje"
    "none enviar";
    gap: 10px;
}




#contactenos{
    justify-content: center;
    display: flex;
    margin-top: 80px;
    color: #470D21;
}

#nombre, #email, #telefono, #mensaje{
    background-color: white;
    border-radius: 10px;
    border: none;
    height: 40px;
}

.formulario-contacto{
    margin-top: 0px;
    background-color:rgba(184, 135, 11, 0)
}


#mensaje{
    grid-area: mensaje;
    height: 150px;
}

label{
    color:#9C0F48;
    text-align: left;
    padding-left: 10px;
}

#enviar{
    color: azure;
    grid-area: enviar;
    background-color: #470D21;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 20px;
}

.label-nombre{grid-area: label-nombre;}
#nombre{grid-area: nombre;}
.label-email{grid-area: label-email;}
#email{grid-area: email;}
.label-telefono{grid-area: label-telefono;}
#telefono{grid-area: telefono;}
.label-mensaje{ grid-area: label-mensaje;}



