@import "../SASS2/mixins";
@import "../SASS2/variables";
/*BODEGA*/

.conteiner-bodega{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    background-image: linear-gradient( to bottom, white 10%, rgba(128, 25, 25, 0.849) 95%);
    .elemento-divider{
        display: flex;
        background-color: black;
        width: 100%;
        span{
            width: 50%;
            background-color: $colorprimario;
            display: flex;
            justify-content: center;
        }
    }
    .elemento-divider1{
        display: flex;
        background-color:$colorprimario;
        width: 100%;
        span{
            width: 50%;
            background-color: black;
            display: flex;
            justify-content: center;
        }
    }
}



#bod-text{
    text-align: center;
    width: 100%;
    padding: 25px;
}

.video-bodega{
    display: flex;
    flex-direction: row;
    background-color: $colorterciario;
    #video-bod{
    display: flex;
    justify-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    }
}


.carousel-h2{
    text-align: center;
    margin-top: 5%;
    font-size: 25px;
    #carousel-img{
        margin: auto;
        width: 50%;
        height: 500px;
    }
    
}
#carousel-img{
    margin: auto;
    width: 50%;
    height: 500px;
}










