@import "../SASS2/variables";


/*footer para todas las paginas*/

.footer-down{
    background-color:$colorprimario;
    color: aliceblue;
    margin-top: 5%;
}

.footer-down a{
    background-color:$colorprimario;
    color: $colorsecundario;
}

.red-social a{
    color: aliceblue;
    width: 2rem;
    
}

.red-social a:hover{
    color: $colorprimario;
    width: 2rem;
    
}
