@import "../SASS2/variables";


/*index*/
.ilustracion-index{
    margin-top: 120px;
    width: 100%;
    .h2-index{
        color: $colorprimario;
        font-family: 'raleway', sans-serif;
        font-size: 40px;
        text-align: center;
}
}

.figure{
    display: flex;
    justify-content: space-evenly;
    img{
        height: 500px;
    }
}



.contenido-texto{
    margin-top: 40px;
    p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    h3{
        font-family: 'raleway';
    span{
    background-color: $colorprimario;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .8);
    overflow-y: hidden;
    }

}
}

/* CARDS INDEX */
.cards-index{
    background: -webkit-linear-gradient(to right, hsla(345, 57%, 34%, 0.3), hsla(209, 40%, 38%, 0.3)), url("../images/fondo-cards-index.webp");
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(345, 57%, 34%, 0.3), hsla(209, 40%, 38%, 0.3)), url("../images/fondo-cards-index.webp");
    padding: 1%;
    margin: 0.5%;
    margin-top: 3%;
    border: 0,2px solid $colorprimario;
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
    
    &:hover{
    cursor: pointer;
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    transform: translateY(-1%);
    transition: all 700ms ease;

    }
    button{
        display: flex;
        align-self: center;
    }
    h5{
        color: $colorprimario;
        overflow-y: hidden;
    }
}




.butoncard-search{
    width: 50%;
    justify-content: center;
    color: #F9E4D4;
    border: 2px solid $colorprimario;
    background-color: $colorprimario;

    &:hover{
    background-color: $colorsecundario;
    border: 2px solid $colorterciario;
    }
}

