/* MEDIA QUERIS */
@media (max-width: 600px) {
    .column{
        flex: 100%;
        padding: 6px;
    }
}

@media screen and (max-width: 768px){
    /* acomodo sección nostros */
    .section-nuestrahistoria{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #carouseltime{
        height: 300px;
        width: 100%;
    }

    .section-nuestrahistoria h2{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .bodynosotros{
        width: 100%;
    }
    #imgbod:hover{
        transform: scale(1);
        transition: all 400ms ease;
        cursor: pointer;
    }
    .vinos-certificacion{
        display: flex;
        flex-direction: column;
    }
    .galery{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .galery1{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .cepa{
        flex-direction: column;
        align-items: center;
    }
}



