@import "../SASS2/mixins";
@import "../SASS2/variables";


/*HAGO PAGINA NOSOTROS*/



.section-nuestrahistoria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "h2-historia h2-historia h2-historia"
    "h2-primerospasos h2-primerospasos h2-primerospasos"
    "primerospasos primerospasos primerospasos"
    "h2-nuestragente h2-nuestragente h2-nuestragente"
    "nuestragente nuestragente nuestragente"
    "h2-produccion h2-produccion h2-produccion"
    "produccion produccion produccion "
    "galery row galery1"
    "h2-linea h2-linea h2-linea"
    "carouselaños carouselaños carouselaños";
    gap: 20px;
    justify-items: center;
    align-items: center;
}


.h2-historia {
    background-image: url("../images/fondo-cards1.jpg");
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
    grid-area: h2-historia;
    color: $colorsecundario;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}

.h2-primerospasos, .h2-nuestragente, .h2-produccion{
    color: $colorprimario;
    padding: 1%;
    font-family: 'raleway';
    font-size: 30px;
    justify-content: center;
}

/* ARREGLO GRID AREA */

.h2-linea{
    grid-area: h2-linea;
}

.primerospasos {
    grid-area: primerospasos;
}

.carouselaños{
    grid-area: carouselaños;
}

.h2-produccion{
    grid-area: h2-produccion;
}

.h2-nuestragente{
    grid-area: h2-nuestragente;
}
.nuestragente{
    grid-area: nuestragente;
}


.produccion {
    grid-area: produccion;
}



.row{
    grid-area: row;
}

.galery{
    grid-area: galery;
}

.galery1{
    grid-area: galery1;
}

.conteiner-h2-historia{
    grid-area: conteiner-h2-historia;
}

.h2-primerospasos{
    grid-area: h2-primerospasos;
}
/* IMAGENES INTRO NOSOTROS */
.img-gente{
    width: 300px;
    height: 250px;
}

.img-pasos{
    width: 300px;
    height: 250px;
}
.img-produccion{
    width: 300px;
    height: 250px;
}

/* DIVS CARDS INTRO */

.primerospasos{
    background-image: url("../images/fondo-cards1.jpg");
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @include card-nosotros (#d67d3e2b, 100%, 10px, Verdana, 5%);
    width: 100%;
    p{
        @include card-nosotros-p (verdana, justify, 1rem, 15px);
    }
}


.nuestragente{
    background-image: url("../images/fondo-cards1.jpg");
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @include card-nosotros (#d67d3e2b, 100%, 10px, Verdana, 5%);
    width: 100%;
    p{
        @include card-nosotros-p (verdana, justify, 1rem, 15px)
    }
}

.produccion{
    background-image: url("../images/fondo-cards1.jpg");
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @include card-nosotros (#d67d3e2b, 100%, 10px, Verdana, 5%);
    width: 100%;
    p{
        @include card-nosotros-p (verdana, justify, 1rem, 15px)
    }
}

#imgbod{
    width: 100%;
}



#imgbod:hover{
    filter: grayscale(80%);
    transform: scale(1.2);
    transition: all 400ms ease;
    cursor: pointer;
}


.row{
    display: flex;
    padding: 5px;
    margin-top: 10%;
    .column{
    align-items: center;
    flex: 25%;
    padding: 5px;
}
    }

.galery{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: justify;
    .h2-row{
        text-align: center;
        font-family: 'raleway';
    }
    .p-row{
        padding: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: justify;
    }
}

.galery1{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-right: 5%;
    text-align: justify;
    .h2-row{
        font-family: 'raleway';
    }
    .p-row1{
        padding: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: justify;
    }
    
}



#p-row1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}


/* carousel timeline */
.h2-linea{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #470D21;
    text-align: center;
}

#carouseltime{
    height: 500px;
    width: 500px;
}

.h4-carousel{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: $colorprimario;
    background-color: #f9e4d448;
}

#titulo-h5{
    font-size: 2rem;
    color: $colorprimario;
    background-color:#f9e4d448 ;
}

#p-carousel{
    background-color:#f9e4d448;
    color: #470D21;
}

#prev, #next{
    background-color: #9C0F48;
    position: absolute;
}

