/*TIENDA*/
@import "../SASS2/variables";



/* TIENDA */
#premio {
    display: flex;
    margin: 0 auto;
    width: 160px;
    height: 160px;
}

#cert {
    font-size: 50px;
    font-family: 'raleway';
    color: $colorprimario;
    text-align: center;
}

.cepa {
    display: flex;
    flex-direction: column;
}



.texto-header3 {
    p {
        width: 50%;
        text-align: justify;
        margin: auto;
    }
}



.vinos-certificacion {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px;

    img {
        height: 100%;
        width: 100%;
    }
}

.conteiner-cajas {
    display: flex;
    flex-direction: row;
}




.caja {
    padding: 10px;
    width: 100%;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;




    box-shadow: 0px 1px 10px rgb(0, 0, 0);
    cursor: default;
    transition: all 400ms ease;

    .contenido {
        text-align: center;
        padding: 10px;
        color: rgb(0, 0, 0);
    }

    ul {
        text-align: left;
        list-style: decimal;
        color: black;
    }

    figure {
        width: 200px;
        width: 200px;
        margin: auto;
    }

    &:hover {
        box-shadow: 5px 5px 20px rgb(0, 0, 0);
        transform: translateY(-2%);
    }
}








/*categoria de vinos*/


.conteiner-boxes {
    margin-top: 1px;
    padding: 40px;

    h1 {
        font-family: 'raleway';
        text-align: center;
        margin-top: 120px;
        font-size: 30px;
        background-color: rgba(94, 7, 112, 0.204);
    }
}



.cepa {
    display: flex;
    flex-direction: row;
    border: 2px solid rgba(94, 7, 112, 0.204);
}


.boxes {
    padding: 10px;
    width: 100%;
    margin: 10px;
    border-radius: 4px;
    overflow: hidden;
    background-color: $colorprimario;
    box-shadow: 0px 1px 10px black;
    transition: all 400ms ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    img {
        width: 100%;
    }

    &:hover {
        box-shadow: 5px 5px 20px rgb(0, 0, 0);
        transform: translateY(-2%);
    }

    i {
        float: right;
        cursor: pointer;
        color: white;
    }

    i:hover {
        transition: all 300ms ease;
        cursor: pointer;
        color: $colorsecundario ;
    }

    h2 {
        color: antiquewhite;
        background-color: rgba(10, 8, 3, 0.534);
        font-family: $ff;
        text-align: center;
        font-size: 20px;
    }

    p {
        color: white;
        text-align: center;
        font-family: 'raleway';
    }

    strong {
        color: white;
        font-family: 'raleway';
        font-size: 20px;
    }

    h5 {
        color: black;
        font-size: 15px;
        text-align: right;
    }

    #img-cepa {
        height: 400px;
    }
}


.btn-flotante {
    border-radius: 5px;
    background-color: $colorprimario;
    padding: 5px 9px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
    img{
        height: 30px;
    }
}

.btn-flotante:hover {
    background-color: $colorsecundario;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
}

@media only screen and (max-width: 600px) {
    .btn-flotante {
        font-size: 14px;
        padding: 12px 20px;
        bottom: 20px;
        right: 20px;
    }
}