/*TIENDA*/
@import "variables";

    /* TIENDA */
    #premio{
        display: flex;
        margin:0 auto;
        width: 120px;
        height: 160px;
    }
    .cepa{
        display: flex;
        flex-direction: column;
    }
    .conteiner-resto{
        width: 100%;
        display: flex;
        flex-direction:column;
    }
    .formulario-reserva{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /*PAGE TIENDA*/



    .conteiner-vinos{
        display: flex;
        flex-direction: column;
        background-image: url("../images/fondo-vinos.webp");
        height: 600px;
        background-size: cover;
        align-items: center;
        justify-content: center;
        h1{
            color: $colorprimario;
        }
        p{
            width: 80%;
            color: aliceblue;
            text-align: center;
        }
    }


    .vinos-certificacion{
    background-image: url("../images/fondo-certif.jpg");
    background-size: contain;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px;
    border: 1px solid grey;
    img{
        height: 100%;
        width: 100%;
    }
}

.conteiner-cajas{
    display: flex;
    flex-direction: row;
}

#cert{
    font-size: 30px;
    color: beige;
    text-align: center;
}


.caja{
    padding: 10px;
    width: 100%;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.526);
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
    cursor: default;
    transition: all 400ms ease;
    
    .contenido{
        text-align: center;
        padding: 10px;
        color: aliceblue;
    }

    ul{
        text-align: left;
        list-style: decimal;
    }

    figure{
        width: 200px;
        width: 200px;
        margin: auto;
    }

    &:hover{
        box-shadow: 5px 5px 20px rgb(0, 0, 0);
        transform: translateY(-2%);
    }
}








/*categoria de vinos*/

.conteiner-boxes{
    margin-top: 1px;
    border: 1px solid grey;
    padding: 40px;
    background-image: url("../images/fondo-viñedo.jpg");
    background-size: contain;
    h1{
        text-align: center;
        margin-top: 120px;
        font-size: 30px;
        background-color: rgba(94, 7, 112, 0.204);
    }
}



.cepa{
    display: flex;
    flex-direction: row;
    border: 2px solid rgba(94, 7, 112, 0.204);
    margin-top: 10px;
}


.boxes{
    padding: 10px;
    width: 100%;
    margin: 10px;
    border-radius: 4px;
    overflow: hidden;
    background-color: $colorprimario;
    box-shadow: 0px 1px 10px black;
    transition: all 400ms ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    img{
        width: 100%;
    }
    &:hover{
        box-shadow: 5px 5px 20px rgb(0, 0, 0);
        transform: translateY(-2%);
    }

    i{
        float: right;
        cursor: pointer;
        color: white;
    }

    i:hover{
        transition: all 300ms ease;
        cursor: pointer;
        color: $colorsecundario ;
    }
    h2{
        color: antiquewhite;
        background-color: rgba(10, 8, 3, 0.534);
        text-align: center;
        font-size: 18px;
    }
    p{
        color: white;
    }
    strong{
        color: white;
    }
    #img-cepa{
        height: 400px;
    }
}








