/* MEDIA QUERIS */
@media (max-width: 600px) {
    .column{
        flex: 100%;
        padding: 6px;
    }
}

@media screen and (max-width: 768px){
    #navicon {
        height: 2rem;
        border: none;
    }
    /* acomodo sección nostros */
    #carouseltime{
        height: 300px;
        width: 100%;
    }

    #imgbod:hover{
        transform: scale(1);
        transition: all 400ms ease;
        cursor: pointer;
    }
    .vinos-certificacion{
        display: flex;
        flex-direction: column;
        .conteiner-cajas{
            display: flex;
            flex-direction: column;
        }
    }
    .section-nuestrahistoria{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "h2-historia h2-historia h2-historia"
        "h2-primerospasos h2-primerospasos h2-primerospasos"
        "primerospasos primerospasos primerospasos"
        "h2-nuestragente h2-nuestragente h2-nuestragente"
        "nuestragente nuestragente nuestragente"
        "h2-produccion h2-produccion h2-produccion"
        "produccion produccion produccion "
        "galery galery galery"
        "galery1 galery1 galery1"
        "row row row"
        "h2-linea h2-linea h2-linea"
        "carouselaños carouselaños carouselaños";
        gap: 20px;
        justify-items: center;
        align-items: center;
    }
    .galery{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .galery1{
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        width: 100%;
        .h2-row{
            text-align: center;
        }
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .cepa{
        flex-direction: column;
        align-items: center;
    }
    .header-page {
        height: 500px;
        width: 100%;
        background: #3a6186;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, hsla(345, 57%, 34%, 0.5), hsla(209, 40%, 38%, 0.5)), url("../images/fondo-nav.jpg");
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, hsla(345, 57%, 34%, 0.5), hsla(209, 40%, 38%, 0.5)), url("../images/fondo-nav.jpg");
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        background-attachment: fixed;
        .wave{
            display: none;
        }
        }
    .ilustracion-index{
        display: flex ;
        flex-direction: column;
    }
    .figure{
        display: flex;
        flex-direction: column;
    }
    .header-page1 {
        height: 500px;
        width: 100%;
        background: #3a6186;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, hsla(345, 6%, 88%, 0.5), hsla(0, 49%, 57%, 0.5)), url("../images/fondo-cards.jpg");
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, hsla(345, 6%, 88%, 0.5), hsla(0, 49%, 57%, 0.5)), url("../images/fondo-cards.jpg");
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        background-attachment: fixed;
        .wave{
            display: none;
        }
        }
    
        .header-page2 {
            height: 500px;
            width: 100%;
            background: #3a6186;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, hsla(345, 6%, 88%, 0.5), hsla(0, 49%, 57%, 0.5)), url("../images/fondo-bod.jpg");
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, hsla(345, 6%, 88%, 0.5), hsla(0, 49%, 57%, 0.5)), url("../images/fondo-bod.jpg");
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background-size: cover;
            background-attachment: fixed;
            .wave{
                display: none;
            }
            }

            #carousel-img{
                height: 10%;
            }
        
            .header-page4 {
                height: 650px;
                width: 100%;
                background: #3a6186;
                /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, hsla(345, 6%, 88%, 0.5), hsla(0, 49%, 57%, 0.5)), url("../images/fondo-vinos.webp");
                /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, hsla(345, 6%, 88%, 0.5), hsla(0, 49%, 57%, 0.5)), url("../images/fondo-resto.webp");
                /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                background-size: cover;
                background-attachment: fixed;
                .wave{
                    display: none;
                }
                }
    
                .header-page3 {
                    height: 500px;
                    width: 100%;
                    background: #3a6186;
                    /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, hsla(345, 6%, 88%, 0.5), hsla(0, 49%, 57%, 0.5)), url("../images/fondo-vinos.webp");
                    /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, hsla(345, 6%, 88%, 0.5), hsla(0, 49%, 57%, 0.5)), url("../images/fondo-vinos.webp");
                    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    background-size: cover;
                    background-attachment: fixed;
                    .wave{
                        display: none;
                    }
                    }

    
    .section-nuestrahistoria{
        margin-top: 10%;
    }
    .primerospasos, .nuestragente, .produccion{
        display: flex;
        flex-direction: column;
        background-image: none;
        background-color: $colorterciario;
        .img-cardsintro{
            margin: auto;
        }
    }
    }


    @media only screen and (max-width: 600px) {
        .btn-flotante {
            font-size: 14px;
            padding: 12px 20px;
            bottom: 20px;
            right: 20px;
        }
    }
